{% extends 'adminbase.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main id="superAdmin">
    {{ include('super_admin/sidebar.html.twig')}}
    <section id="adminArticles">
        <h1>Votre espace Admin</h1>
        <h2>Utilisateur-rices</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Pseudonyme</td>
                    <td>Rôle</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {{ form_start(form) }}
                            {{ form_row(form.roles, {
                                'attr': {'class': 'form-select'}
                                })
                            }}
                        <button type="submit" class="btn">Modifier</button>
                        {{ form_end(form) }}
                    </td>
                </tr>
            </tbody>
    </section>
</main>

{% endblock %}