{% extends 'homebase.html.twig' %}

{% block title %}ADN - Au-delà des Normes, Association LGBTQIA+ en Dordogne{% endblock %}

{% block body %}

<!-- MAIN INDEX -->
        <main id="indexMain">
            <!-- A PROPOS -->
            <section id="sectionAbout">
                <article>
                    <h2>Qui Sommes-nous ?</h2>
                    <p>Nous sommes une association <strong>LGBTQIA+ (Lesbiennes, Gays, Bi-e-s, Trans, Queer, Intersexe, Asexuel-le-s), féministe, mixte, militante</strong> et apartisane sur tout le territoire de la <strong>Dordogne</strong>. Nous sommes basé à Périgueux mais intervenons sur tout le département.</p>
                    <a href="/about" class="button">En Savoir +</a>
                </article>
            </section>
            <!-- PARTENAIRES -->
            <section id="sectionPartners">
                <article>
                    <h2>nos partenaires</h2>
                    <p>ADN est une association <strong>adhérente et membre actif de l’interLGBT</strong>. Nous avons également plusieurs <strong>partenaires locaux</strong> qui participent de près ou de loin à nos actions.</p>
                </article>
                <article>
                    <img src="{{ asset('images/logoInterLGBT_resultat.webp') }}" alt="Logo de l'interLGBT">
                </article>
                {# <div class="button-container">
                    <a href="/partners" class="button">Voir +</a>
                </div> #}
            </section>
            <!-- BLOG -->
            <section id="sectionBlog">
                <div class="flexbox">
                    <article>
                        <h2>notre blog</h2>
                        <p>Notre association publie régulièrement des billets de blog que vous pouvez retrouver sur nos divers réseaux sociaux. Mais vous pouvez également les consulter ici sur notre site internet.</p>
                        <div class="button-container">
                            <a href="/article" class="button">Consulter</a>
                        </div>
                    </article>
                    <article class="socialNetworks">
                        <a href="https://www.facebook.com/AuDeladesNormes" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/AuDN24" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://instagram.com/au.dela.des.normes.24" target="_blank"><i class="fab fa-instagram"></i></a>
                    </article>
                </div>
                <article class="firstBlogArticle">
                    <h3>Dernier article du Blog</h3>
                    {% for article in articles | slice(0,1) %}
                        <h4>{{ article.title }}</h4>
                        {# <p>{{ article.content|length > 100 ? article.content|raw|slice(0, 100) ~ '...' : article.content|raw }}</p> #}
                        <div class="button-container">
                            <a href="{{ path('app_article_single', {id: article.id})}}" class="button">Lire</a>
                        </div>
                    {% else %}
                        <p>Il n'y a pas (encore) d'articles publiés</p>
                    {% endfor %}
                </article>
            </section>
            <!-- CONTACT -->
            <section id="sectionContact">
                <article>
                    <h2>vous souhaitez nous contacter ?</h2>
                    <a href="/contact" class="button">Cliquez ici</a>
                </article>
            </section>
            <!-- RENDEZ-VOUS -->
            <section id="sectionRDV">
                <article>
                    <h2>nos événements</h2>
                    {% for booking in bookings | slice(0,2) %}
                    <div>
                        <h3>{{ booking.title }}</h3>
                        <p>{{ booking.start ? booking.start|format_datetime("short", "none", locale='fr') : '' }}</p>
                    </div>
                    {% endfor %}
                    <a href="/calendar" class="button">Voir +</a>
                </article>
                <article id="permanences">
                    <h2>nos permanences d'écoute et d'accueil</h2>
                    <div class="subPart-permances">
                        <p>Les 1er et 3e Mercredis de chaque mois</p>
                        <p>De 17h à 20h</p>
                    </div>
                    <div class="subPart-permances">
                        <p>Le dernier Samedi du mois</p>
                        <p>De 14h à 18h</p>
                    </div>
                    <p>A la maison des Associations</p>
                    <p>12 Cours Fénelon à Périgueux</p>
                </article>  
            </section>
            <!-- BOUTON SOUTENIR -->
            <section id="clickMe">
                <a href="https://www.helloasso.com/associations/au-dela-des-normes/formulaires/1" class="button-large" target="_blank">Nous Soutenir</a>
            </section>
        </main>
{% endblock %}
