{% block comments %}
    {{ include('comment/create.html.twig') }}
    {% for comment in comments %}
        {% if article == comment.article %}
        <div id="comments">
            <p>
                <div id="user-avatar">
                {% if comment.author.avatarFileName %}
                    <img src={{ vich_uploader_asset(comment.author) }} alt={{comment.author.username}}>
                {% else %}
                    <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
                {% endif %}
                </div>
                <a href="{{ path('app_user_usersprofile', {id: comment.author.id})}}">
                    {{ comment.author.username }}
                    {% if comment.author.roles == 'ROLE_ADMIN' %}
                        <i class="fa-solid fa-circle-star"></i>
                    {% elseif comment.author.roles == 'ROLE_SUPERADMIN' %}
                        <i class="fa-solid fa-crown"></i>
                    {% endif %}
                </a>
            </p>
            <p>{{ comment.content }}</p>
            <small>{{ comment.createdAt|format_datetime("full", locale="fr") }}</small>
            <div class="button-container">
                {% if app.user == comment.author %}
                    <a href="{{path('app_comment_delete', {id: comment.id})}}" class="btn btn-danger">Supprimer</a>
                {% endif %}
            </div>
        </div>
        {% else %}

        {% endif %}
    {% endfor %}
        {{ knp_pagination_render(comments, 'pagination.html.twig') }}
{% endblock %}


