{% block comments %}
    {{ include('comment/create.html.twig') }}
    {% for comment in comments %}
        <div id="comments">
            <p><a href="{{ path('app_user_profile', {id: user.id} )}}">{{ comment.author.username }}</a></p>
            <p>{{ comment.content }}</p>
            <p>{{ comment.createdAt }}</p>
        </div>
    {% endfor %}
{% endblock %}
