{% extends 'base.html.twig' %}

{% block title %}Nos rendez-vous{% endblock %}

{% block body %}
    <h2>Nos rendez-vous</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.start ? booking.start|date('d-m-Y') : '' }}</td>
                <td>{{ booking.end ? booking.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('app_booking_show', {'id': booking.id}) }}" class="button">show</a>
                    {% if is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('app_booking_edit', {'id': booking.id}) }}" class="button">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_booking_new') }}" class="button">Créer un nouvel événement</a>
    {% endif %}
{% endblock %}
