{% extends 'blogbase.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <section id="editUserProfile">
        <h2>Bonjour {{ user.username }}</h2>
        <article id="userInfo" class="container-fluid">
            <div class="flexbox">
                {{ include('avatar/show.html.twig') }}
            </div>
            {{ form_start(imageForm) }}
                {{ include('avatar/edit.html.twig') }}
                
                <button type="submit" class="button">Enregistrer</button>
            {{ form_end(imageForm) }}
        </article>
    </section> 
{% endblock %}