{% extends 'blogbase.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <section id="editUserProfile">
        <h2>Bonjour {{ user.username }}</h2>
        <article id="userInfo" class="container-fluid">
            <div class="flexbox">
                
                
            {{ form_start(imageForm) }}
                {{ form_row(imageForm.email, {
                    'label' : "Modifier votre adresse e-mail",
                    'attr': {'class': 'form-control'}
                    })
                }}
                {{ form_row(imageForm.name, {
                    'label' : "Ajouter / Modifier votre prénom",
                    'attr': {'class': 'form-control'}
                    })
                }}
                {{ form_row(imageForm.city, {
                    'label' : "Ajouter / Modifier votre ville",
                    'attr': {'class': 'form-control'}
                    })
                }}
                {{ form_row(imageForm.genders, {
                    'label' : "Ajouter / Modifier votre genre",
                    'attr': {'class': 'form-check-inline form-check'}
                    })
                }}
                {{ form_row(imageForm.pronouns, {
                    'label' : "Ajouter / Modifier vos pronoms",
                    'attr': {'class': 'form-control'}
                    })
                }}
                
                {{ form_row(imageForm.avatarFile, { 
                    'label' : "Ajouter / Modifier votre avatar",
                    'delete_label' : "Supprimer l'avatar",
                    'attr': {'class': 'form-control form-control-file',}
                    })
                }}
                
                <button type="submit" class="button">Enregistrer</button>
            {{ form_end(imageForm) }}
                <div class="button-container">
                    {% if app.user %}
                        <a class="button-small red" id="deleteButton">Supprimer votre compte</a>
                    {% endif %}
                </div>
            </div>
        </article>
        <article id="popup" class="displayNone">
            <p>Êtes-vous sûr-e de vouloir supprimer votre compte ?</p>
            <div class="button-container">
                <a href="{{path('app_user_delete', {id: user.id})}}" class="button red" id="yes">Oui</a>
                <a class="button" id="no">Non</a>
            </div>
        </article>
    </section> 
{% endblock %}