{% extends 'blogbase.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <section id="userProfile">
        <h2>Bonjour {{ user.username }}</h2>
        <article id="userInfo">
            {{ form_start(form) }}
                <div id="user-avatar">
                    {% if user.avatar == null %}
                        <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
                    {% else %}
                        <img src={{ vich_uploader_asset(avatar) }} alt={{user.username}}>
                    {% endif %}
                    {{ form_row(form.avatarFile, { 
                        'label' : "Ajouter / Modifier l'avatar"})
                        }}
                </div>
                <div class="user-text">
                    {{ form_row(form.email, { 
                        'label' : "Modifier votre adresse e-mail",
                            'attr': {'class': 'form-control'}
                            })
                        }}
                    {{ form_row(form.password, { 
                        'label' : "Modifier votre mot de passe",
                            'attr': {'class': 'form-control'}
                            })
                        }}
                </div>
                <button type="submit" class="button">Enregistrer</button>
            {{ form_end(form) }}
        </article>
    </section>
{% endblock %}