{% extends 'blogbase.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <section id="editUserProfile">
        <h2>Bonjour {{ user.username }}</h2>
        <article id="userInfo" class="container-fluid">
            {{ form_start(form) }}
                {% if user.avatar == null %}
                    <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
                {% else %}
                    <img src={{ vich_uploader_asset(avatar) }} alt={{user.username}}>
                {% endif %}
                {{ form_row(form.avatarFile, { 
                    'label' : "Ajouter / Modifier votre avatar",
                    'attr': {'class': 'form-control form-control-file'}
                    })
                }}
                {{ form_row(form.email, { 
                    'label' : "Modifier votre adresse e-mail",
                        'attr': {'class': 'form-control'}
                        })
                    }}
                {{ form_row(form.plainPassword, {
                        'attr': {'class': 'form-control'}
                    }) }}
                {# {{ form_row(form.password, { 
                    'label' : "Entrez votre mot de passe pour valider vos changements",
                        'attr': {'class': 'form-control'}
                        })
                    }} #}
                <button type="submit" class="button">Enregistrer</button>
            {{ form_end(form) }}
        </article>
    </section> 
{% endblock %}