{% extends 'blogbase.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <section id="editUserProfile">
        <h2>Bonjour {{ user.username }}</h2>
        <article id="userInfo" class="container-fluid">
            <div class="flexbox">
                {# <div id="user-avatar">
                    {% if user.avatarFile is empty %}
                        <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
                    {% else %}
                        <img src={{ vich_uploader_asset(avatar) }} alt={{user.username}}>
                    {% endif %}
                </div> #}
            {{ form_start(imageForm) }}
                {{ form_row(imageForm.avatarFile, { 
                    'label' : "Ajouter / Modifier votre avatar",
                    'delete_label' : "Supprimer l'avatar",
                    'attr': {'class': 'form-control form-control-file',}
                    })
                }}
                <button type="submit" class="button">Enregistrer</button>
            {{ form_end(imageForm) }}
            </div>
        </article>
    </section> 
{% endblock %}