{% extends 'blogbase.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <section id="userProfile">
        <h2>{{ user.username }}</h2>
        <article id="userInfo">
            <h3>informations</h3>
            <div class="flexbox">
                <div id="user-avatar">
                {% if user.avatar == null %}
                    <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
                {% else %}
                    <img src={{ vich_uploader_asset(avatar) }} alt={{user.username}}>
                {% endif %}
                </div>
                <div class="user-text">
                    
                </div>
            </div>
        </article>
        {% if user.articles == null %}

        {% else %}
            <article id="user-articles">
                <h3>articles</h3>
                {% for article in articles %}
                    <div class="user-article">
                        <p>{{ user.article.title }}</p>
                {% endfor %}
            </article>
        {% endif %}
    </section>
{% endblock %}