{% extends 'blogbase.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <section id="userProfile">
        <h2>{{ user.username }}</h2>
        <div class="flexbox">
            <article id="userInfo">
                <h3>informations</h3>
                <div class="flexbox">
                    <div id="user-avatar">
                        {% if user.avatarFileName %}
                            <img src={{ vich_uploader_asset(user) }} alt={{user.username}}>
                        {% else %}
                            <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
                        {% endif %}
                    </div>
                    <div class="user-text">
                        
                    </div>
                </div>
            </article>
            <article id="userInfoBis">
                <p><span class="bold">Prénom :</span> {{ user.name }}</p>
                <p><span class="bold">Ville :</span> {{ user.city }}</p>
                <p><span class="bold">Genre : </span>
                {% if user.gender in null %}
                    <p><span class="bold">Votre genre : --</span></p>
                {% else %}
                    <p><span class="bold">Votre genre :
                    </span> {{ user.gender }}</p>
                {% endif %}
                <p><span class="bold">Pronoms :</span> {{ user.pronouns }}</p>
            </article>
        </div>
        {% if user.articles is empty %}

        {% else %}
            <article id="user-articles">
                <h3>articles</h3>
                {% for article in articles %}
                    <div class="user-article">
                        <p>{{ article.title }}</p>
                        <div class="button-container">
                            <a href="{{path('app_article_single', {id: article.id})}}" class="button">Voir</a>
                        </div>
                {% endfor %}
            </article>
        {% endif %}
    </section>
{% endblock %}