{% extends 'blogbase.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <section id="userProfile">
        <h2>{{ user.username }}</h2>
        <article id="userInfo">
            <h3>informations</h3>
            <div class="flexbox">
                {{ include('avatar/show.html.twig') }}
                <div class="user-text">
                    
                </div>
            </div>
        </article>
        {% if user.articles is empty %}

        {% else %}
            <article id="user-articles">
                <h3>articles</h3>
                {% for article in articles %}
                    <div class="user-article">
                        <p>{{ article.title }}</p>
                        <div class="button-container">
                            <a href="{{path('app_article_single', {id: article.id})}}" class="button">Voir</a>
                        </div>
                {% endfor %}
            </article>
        {% endif %}
    </section>
{% endblock %}